<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpGameLibrary" version="0.1.1-alpha" targetFramework="net452" />
  <package id="SharpFont" version="4.0.1" targetFramework="net452" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net452" />
</packages>